<div id="footerNav" *ngIf="mobileSize">
    <ul class="footer_nav">
        <li><img src="assets/images/home.png" alt="img" />
            <span class="fs-6">Home</span>
        </li>
        <li class="active"><img src="assets/images/profile.png" alt="img" />
            <span class="fs-6">Matches</span>
        </li>
        <li><img src="assets/images/mail.png" alt="img" />
            <span class="fs-6">Mailbox</span>
        </li>
        <li><img src="assets/images/notifications.png" alt="img" />
            <span class="fs-6">Notifications</span>
        </li>
        <li><img src="assets/images/search.png" alt="img" />
            <span class="fs-6">Search</span>
        </li>
    </ul>
</div>